## Import

In [2]:
import pandas as pd 
import numpy as np
import matplotlib as plt
import csv
from IPython.display import display

In [3]:
dir_dataset = '../Dataset/ml-latest-small/'

genres = ['Action','Adventure','Animation','Children\'s','Comedy','Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western','(no genres listed)']

## Read Info

In [4]:
def readFiles(fileName):
    csv_file = open(dir_dataset+fileName, encoding="utf8")
    csv_reader = csv.reader(csv_file, delimiter=',')
    data_np = np.array(list(csv_reader))

    data = pd.DataFrame(data_np)
   
    return data

ratings = readFiles('ratings.csv')
ratings.columns = ['userId','movieId','rating','timestamp']
ratings = ratings.drop('timestamp',axis=1)
ratings = ratings.drop(0,axis=0)
ratings['userId'] = ratings['userId'].astype(int)
ratings['movieId'] = ratings['movieId'].astype(int)
ratings['rating'] = ratings['rating'].astype(float)

tags = readFiles('tags.csv')
tags.columns = ['userId','movieId','tag','timestamp']
tags = tags.drop('timestamp',axis=1)
tags = tags.drop(0,axis=0)
tags['userId'] = tags['userId'].astype(int)
tags['movieId'] = tags['movieId'].astype(int)
tags['tag'] = tags['tag'].str.lower()

movies = readFiles('movies.csv')
movies.columns = ['movieId','title','genres']
movies = movies.drop(0,axis=0)
movies['movieId'] = movies['movieId'].astype(int)
movies['genres'] = movies['genres'].str.split('|')
movies['genres'] = movies['genres'].apply(lambda x: np.array(x))

# display(ratings)
display(movies)
# display(tags)

,movieId,title,genres
1,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
2,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
3,3,Grumpier Old Men (1995),"[Comedy, Romance]"
4,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
5,5,Father of the Bride Part II (1995),[Comedy]
...,...,...,...
9738,193581,Black Butler: Book of the Atlantic (2017),"[Action, Animation, Comedy, Fantasy]"
9739,193583,No Game No Life: Zero (2017),"[Animation, Comedy, Fantasy]"
9740,193585,Flint (2017),[Drama]
9741,193587,Bungo Stray Dogs: Dead Apple (2018),"[Action, Animation]"
9742,193609,Andrew Dice Clay: Dice Rules (1991),[Comedy]

## Study

In [5]:
users = ratings['userId'].unique()
user0 = ratings.loc[(ratings['userId'] == users[0]) & (ratings['rating'] == 5)]
display(user0)
movies0 = movies.loc[(movies['movieId'].isin(user0['movieId']))]
genre0 = np.concatenate(movies0['genres'].to_numpy(), axis=0)

unique, counts = np.unique(genre0, return_counts=True)
ocur = pd.DataFrame({'genre': unique, 'count': counts})
ocur = ocur.sort_values(by=['count'],ascending=False)
display(movies0)

     userId  movieId  rating
4         1       47     5.0
5         1       50     5.0
7         1      101     5.0
9         1      151     5.0
10        1      157     5.0
..      ...      ...     ...
224       1     3702     5.0
225       1     3703     5.0
226       1     3729     5.0
229       1     3793     5.0
232       1     5060     5.0

[124 rows x 3 columns]

,movieId,title,genres
44,47,Seven (a.k.a. Se7en) (1995),"[Mystery, Thriller]"
47,50,"Usual Suspects, The (1995)","[Crime, Mystery, Thriller]"
90,101,Bottle Rocket (1996),"[Adventure, Comedy, Crime, Romance]"
125,151,Rob Roy (1995),"[Action, Drama, Romance, War]"
131,157,Canadian Bacon (1995),"[Comedy, War]"
...,...,...,...
2765,3702,Mad Max (1979),"[Action, Adventure, Sci-Fi]"
2766,3703,"Road Warrior, The (Mad Max 2) (1981)","[Action, Adventure, Sci-Fi, Thriller]"
2789,3729,Shaft (1971),"[Action, Crime, Drama, Thriller]"
2837,3793,X-Men (2000),"[Action, Adventure, Sci-Fi]"
3674,5060,M*A*S*H (a.k.a. MASH) (1970),"[Comedy, Drama, War]"